<div class="header_login">
<div class="container">
<div class="header_login_box">
 
<%= form_for(@user) do |f| %>
  <%= render partial: "shared/error_messages", locals: { model: @user } %>
    <ul>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>
        <li>
          <%= f.label :email %>           
          <%= f.text_field :email %>
        </li>
        <li>
          <%= link_to "Back", users_path, class: "btn btn-default left" %>
          <%= f.submit "Save", class: "btn btn-primary white right"%>
        </li>
      </ul>
      <% end %>
    </div>
    
  </div>
</div>
