<div class="header_login">
  <div class="container">
    <div class="header_login_box">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
        <h2>Forgot your password?</h2>
        <%= devise_error_messages! %>
        <ul>
          <li>
            We'll send password reset instructions.
          </li>
          <li>
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true %>
          </li>
          <li>
           <%= f.submit 'Reset Password' %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
