<div class="header_login">
<div class="container">
<div class="login_after">

<%= form_for(@patient) do |f| %>
     <%= render partial: "shared/error_messages", locals: { model: @patient } %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.datepicker').datepicker();
        $('#timepicker').timepicker();
      });
    </script>
     <ul>
            <input name="patient[userid]" type="hidden" value="<%= current_user[:id] %>"/>
            <li>
                <%= f.label :start_date %>
                <%
              if (@patient.startdate.present?)
                form_date = formatted_date(@patient.startdate) 
              else
                form_date=''
              end
              %>
                <%= text_field_tag 'patient[startdate]', form_date , "data-provide"=>"datepicker" %>
            </li>
            <li>
                <%= f.label :start_time %>
                <%= f.text_field :starttime, id: "timepicker" %>
               <li>
                <%= f.label :initial_contact %>
                <%= f.text_field :initialcontact %>
            </li>
            <li>
              <%= f.label :preferred_language %>
              <%= f.text_field :languagespeaking %>
            </li>
            <li>
                <%= f.label :age_range %>
                <%= f.select(:agerange, options_for_select(['10-15', '15-20', '20-25', '25-30', '30-35', '35-40', '40-45', '45-50', '50-60', '60-80', '80-100'], @patient.agerange )) %>
            </li>
            
            <li>
              <%= f.label :gender %>
              <%= f.select(:gender, options_for_select(['Male', 'Female'], @patient.gender )) %>
            </li>
            <li>
              <%= f.label :Language_preference_reading %>
              <%= f.text_field :languagereading %>
            </li>
             <li>
              <%= f.label :Computer_Skills %>
              <%= f.text_field :computerskills %>
            </li>
            <li>
              <%= f.label :own_computer? %>
              <%= f.select(:computer, options_for_select(['Yes', 'No'], @patient.computer )) %>
            </li>
           
            <li>
              <%= f.label :topics_discussed %>
              <%= f.select(:topicdiscussed, options_for_select(['Diabetes', 'Heart Disease', 'HIV', 'Asthma', 'Stroke', 'Excercise'], @patient.topicdiscussed )) %>
            </li>
            <li>
              <%= f.label :Navigator_notes_OR_observations %>
              <%= f.text_field :notes %>
            </li>
              <li>
              <%= f.label :Number_of_Participant_Interactions %>
              <%= f.text_field :noofparticipant %>  
            </li> 
             <li>
              <%= f.label :length_of_time_with_patient %>
              <%= f.select(:timelength, options_for_select(['10 MIN', '20 MIN', '30 MIN', '40 MIN', '1 HR'], @patient.timelength )) %>
            </li>
          
            <li>
              <%= f.label :location %>
              <%= f.select(:location, options_for_select(['North', 'South', 'East', 'West'], @patient.location )) %>
            </li>
            <li>
              <%= f.label :Number_of_One_on_one_interactions %>
              <%= f.select(:noofinteraction, options_for_select(['1:1', 'Group'], @patient.noofinteraction )) %>
            </li>
            
            <li>
              <%= link_to "Back", :back, class: "btn btn-default left" %>
              <%= f.submit "Save", class: "btn btn-primary white right" %>
            </li>
        </ul>
      <% end %>
    </div>
    
   

  </div>
</div>
