<h2>Records</h2>
<%= render partial: "shared/notice" %>
<div class="table-responsive">
  <table class="records table">
    <tbody>
         <tr>
	<td width="20%">Location</td>
	<td><%= @patient.location %></td>
        </tr>
        <tr>
	<td width="20%">ID</td>
	<td><%= @patient.id %></td>
        </tr>
	<tr>
        <td>Start Date</td>
	<td><%= formatted_date(@patient.startdate) %></td>
	</tr>
	<tr>
        <td width="20%">Start Time</td>
	<td><%= formatted_time(@patient.starttime) %></td>
        </tr>
	<tr>
        <td>Initial Contact</td>
	<td><%= @patient.initialcontact %></td>
	</tr>
	<tr>
        <td width="20%">Age Range</td>
	<td><%= @patient.agerange %></td>
        </tr>	
	<tr>
        <td>Gender</td>
	<td><%= @patient.gender %></td>
	</tr>

	<tr>
        <td>Preferred Language</td>
	<td><%= @patient.languagespeaking %></td>
	</tr>
	<tr>
        <td>Language Reading</td>
	<td><%= @patient.languagereading %></td>
	</tr>
	<tr>
	<td>Own Computer?</td>
	<td><%= @patient.computer %></td>
	</tr>
	<tr>
	<td>Computer Skills</td>
	<td><%= @patient.computerskills %></td>
	</tr>
	<tr>
	<td>Topic Discussed</td>
	<td><%= @patient.topicdiscussed %></td>
	</tr>
	<tr>
        <td>Time Length</td>
	<td><%= @patient.timelength %></td>
	</tr>
	<tr>
        <td>Notes</td>
	<td><%= @patient.notes %></td>
	</tr>
	<tr>
        <td>Participant (nos)</td>
	<td><%= @patient.noofparticipant %></td>
	</tr>
	<tr>
	<td>Inspection (nos)</td>
	<td><%= @patient.noofinteraction %></td>
	</tr>
    </tbody>
  </table>
</div>
<br>
<%= link_to 'Records List', allrecords_path, class: "btn btn-primary white" %>	
